/*  your css code here. If applicable */
.header {
    background-color:#011e29; /* Header background color */
    text-align: center;
    padding: 1px;
    color: white;
}
.latest-news-section{
	background-color: white;
	padding:10px;
	text-align: center;
	width:150px;
	border-radius: 10px;
}
.body{
	background-color: #f5f5f5;
}
.main{
	background-color: white;
	padding:10px;
	text-align: center;
	width:150px;
	border-radius: 10px;
}
.pictorial-news-section{
	background-color: white;
	padding:10px;
	text-align: center;
	width:150px;
	border-radius: 10px;
}
img{
	 max-width: 100%;
	height: auto;
}
.container{
	display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
	
}

